figure {
	overflow: hidden;
}
figure:hover+span {

	opacity: 1;
}

/* Rotate */
.th-image{
    cursor: pointer;
    
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.th-image:hover  {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}
