/* body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
} */

.slider{
    width: 100%;
    height: 200%;
    /* border-radius:10px; */
    overflow:hidden;
}

.slides{
    width:500%;
    height:600px;
    display:flex;
}

.slides input{
    display: none;
}

.slide{
    width:20%;
    transition: 2s;
}

.slide img{
    width:100%;
    height:100%;
}

.navigation-manual{
    position:absolute;
width: 1450px;
margin-top: -40px;
display: flex;
justify-content: center;
}
.manual-btn
{
   border:2px solid rgb(104, 103, 103);
   padding:5px;
   /* border-radius:10px; */
   cursor:pointer;
   transition: 1s;;
}

.manual-btn:not(:last-child)
{
    margin-right:40px;
}

.manual-btn:hover{
    background-color: rgb(80, 81, 81);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/* auto navigation */

.navigation-auto
{
    position:absolute;
    display:flex;
    width: 1450px;
    justify-content: center;
    margin-top: 560px;
}
.navigation-auto div{
    border:2px solid rgb(103, 102, 102);
    padding:5px;
    /* border-radius: 10px; */
    transition: 1s;
}

.navigation-auto div:not(:last-child)
{
    margin-right: 40px;

}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(175, 174, 174);
    opacity: 0.8;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(175, 174, 174);
    opacity: 0.8;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(175, 174, 174);
    opacity: 0.8;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
   background: rgb(175, 174, 174);
    opacity: 0.8;
}
