@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-rubik: Rubik;
  --font-sarabun: Sarabun;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-3xl: 22px;
  --font-size-16xl: 35px;
  --font-size-34xl: 53px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;
  --font-size-2xl: 21px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gold-100: #ffd233;
  --color-midnightblue-100: #091f5b;
  --color-dimgray-100: #666;
  --color-dimgray-200: #5a5858;
  --color-gray-100: #fafafa;
  --color-navy-100: #180379;
  --color-gainsboro: #d9d9d9;

  /* Border radiuses */
  --br-xs: 12px;
  --br-8xs: 5px;
}

